body{
font-family: Roboto;
display: flex;
flex-direction: column;
margin: auto 0px;
}

div{
  padding: auto 200px;/* might be redundant*/
}



/* Header section*/
.header{
    display: flex;
    color: #f9faf8;
    background-color: #1F2937;
    justify-content: space-around;
}

.logo{
    font-size: 24px;
    padding: 12px;
    font-weight: 900;
}

ul{
    display: flex;
    list-style: none;
    padding: 0;
}

a{
    padding: 8px 12px;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/*Hero section */
.hero{
    display: flex;
    color: #f9faf8;
    background-color: #1F2937;
    padding: 40px 0px ;
    justify-content: space-around;
}

.hero p{
   max-width: 300px;
}

.image1{
    padding: 30px;
    background-color: #686869;
}

button{
    background-color: #3882f6;
    border-radius: 5px;
    border-color: #f9faf8;
    padding: 6px 24px ;
    color: #f9faf8;
}

.button1{
    border: 0;
}

/*Information section */
.container1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.container1 h2{
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}


.container2{
    display: flex;

}

.fig img{
    border: 2px solid #3882f6;
    border-radius: 8px;
    width: 150px;
    height: 150px;
}

.fig figcaption{
    text-align: center;
    max-width: 150px;
}

/*Testimonial Section */

.testimonial{
    display: flex;
    background-color: #e5e7eb;  
    font-size: 36px;
    font-weight: 300;
}

.testimonial figcaption{
    font-size: 24px;
    font-weight: 900;
    text-align: right;
}

/*call to action section*/

.action{
    display: flex;
    margin: 10px 80px;
    justify-content: center;
    background-color: #3882f6;
    border-radius: 8px;
}

.action .text{
    color: #e5e7eb;
    margin: 0px auto;
    padding: 0px auto;
}

.button2{
    margin: 32px;
}


